<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Básicos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en angular</h3>
</section>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Lowercase Pipe</div>
    <div class="stat-value">{{ nameUpper() | lowercase }}</div>
    <div class="stat-desc">{{ nameUpper() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Uppercase Pipe</div>
    <div class="stat-value">{{ nameLower() | uppercase }}</div>
    <div class="stat-desc">{{ nameLower() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Title Case Pipe</div>
    <div class="stat-value">{{ fullName() | titlecase }}</div>
    <div class="stat-desc">{{ fullName() }}</div>
  </div>
</div>

<div class="divider"></div>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ myDate() | date }}</div>
    <div class="stat-desc">{{ myDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date : 'long' : 'GMT-6'</div>
    <div class="stat-value">{{ myDate() | date : 'long' : 'GMT-6' }}</div>
    <div class="stat-desc">{{ myDate() }}</div>
  </div>
</div>

<div class="divider"></div>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date : 'yyyy-MM'</div>
    <div class="stat-value">{{ myDate() | date : 'yyyy-MM' }}</div>
    <div class="stat-desc">{{ myDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date : 'short' : 'GMT-0'</div>
    <div class="stat-value">{{ myDate() | date : 'short' : 'GMT-0' }}</div>
    <div class="stat-desc">{{ myDate() }}</div>
  </div>
</div>

<div class="divider"></div>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date : 'dd/MM/yyyy'</div>
    <div class="stat-value">{{ myDate() | date : 'dd/MM/yyyy' }}</div>
    <div class="stat-desc">{{ myDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date 'HH:mm:ss'</div>
    <div class="stat-value">{{ myDate() | date : 'HH:mm:ss' }}</div>
    <div class="stat-desc">{{ myDate() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Date 'EEEE d, MMMM'</div>
    <div class="stat-value">{{ myDate() | date : 'EEEE d, MMMM' }}</div>
    <div class="stat-desc">{{ myDate() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="flex flex-row gap-2">
  <h1 class="text-2xl font-bold">
    Locale Actual:
    <span class="badge badge-secondary">
      {{ localeService.getLocale }} - {{ currentLocale() }}
    </span>
  </h1>

  <button class="btn btn-primary" (click)="changeLocale('ja')">日本語</button>
  <button class="btn btn-primary" (click)="changeLocale('en')">Change to english</button>
  <button class="btn btn-primary" (click)="changeLocale('es')">Cambiar al español</button>
</div>
