<h1 class="text-xl font-bold font-montserrat">
  Todos los productos {{ paginationService.currentPage() }}
</h1>
<h2 class="text-xl mb-5">Para todos los gustos</h2>

<div class="mt-4 mb-10">
  <app-pagination
    [totalPagesInput]="productsResource.value()?.pages ?? 0"
    [currentPageInput]="paginationService.currentPage()"
  />
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
  @for (product of productsResource.value()?.products; track $index) {
  <product-card [product]="product" />
  }
  <!-- Empty -->
  @empty {
  <p>No hay productos</p>
  }
</div>

<div class="mt-4 mb-10">
  <app-pagination
    [totalPagesInput]="productsResource.value()?.pages ?? 0"
    [currentPageInput]="paginationService.currentPage()"
  />
</div>
